[access]
	inheritFrom = Public-Projects
[submit]
[access "refs/meta/config"]
	label-Code-Review = -2..+2 group mdb/gerritcodereview-eng
	submit = block group Project Owners
	submit = block group google/gerritcodereview-maintainers@googlegroups.com
[submit-requirement "Code-Review"]
	description = At least one maximum vote for label 'Code-Review' is required
	submittableIf = label:Code-Review=MAX AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
