[access]
	inheritFrom = Public-Projects
[submit]
	action = inherit
[access "refs/meta/config"]
	label-Code-Review = block -2..+2 group mdb/gerritcodereview-eng
	submit = block group Project Owners
	submit = block group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/heads/*"]
	submitAs = group google/gerritcodereview-maintainers@googlegroups.com
